body {
	background-color: #d9efff;
	background-image: url("https://www.transparenttextures.com/patterns/skulls.png");
	font-family: "Josefin Sans", "Lobster", "Montserrat", sans-serif;
	color: #000e38;
	padding-bottom: 10px;
}
h1 {
	padding-left: 15px;
	padding-bottom: 1em;
	letter-spacing: 4px;
	text-align: center;
	font-style: italic;
	text-shadow: 1px 1px #0e324f4d;
	font-size: 29px;
	color: #000e38;
}
h2 {
	padding-left: 15px;
	letter-spacing: 1px;
	font-size: 17px;
	font-family: "Montserrat";
	color: #000e38;
}
#jokeDiv {
	max-width: 680px;
	min-height: 100px;
	padding-left: 2px;
	font-family: "Montserrat";
}
#button {
	background-color: #d9efff;
	text-shadow: 0.5px 0.5px #0e324f4d;
	flex-direction: column;
	border-radius: 4px;
	letter-spacing: 1px;
	font-family: "Lobster";
	font-size: 18px;
	padding: 6.5px 15.5px 6.5px 15.5px;
	float: right;
}
