body {
	background-color: #e4e8f7;
	background-image: url("https://www.transparenttextures.com/patterns/skulls.png");
	font-family: "Josefin Sans", "Lobster", 'Montserrat', sans-serif;
	color: #000e38;
	padding-bottom: 10px;
}
h1 {
	padding-left: 15px;
	padding-bottom: 1em;
	letter-spacing: 4px;
	text-align: center;
	font-style: italic;
	text-shadow: 2px 2px #e4e8f7;
	font-size: 28px;
	color: #000e38;
}
h2 {
	padding-left: 15px;
	letter-spacing: 1px;
	font-size: 16px;
	font-family: 'Montserrat';
	color: #000e38;
}
#jokeDiv {
	max-width: 680px;
	min-height: 100px;
    padding-left: 2px;
    font-family: 'Montserrat';
}
#button {
	background-color: #e4e8f7;
	text-shadow: 1px 1px #eef5fe;
	justify-content: space-between;
	flex-direction: column;
	border-radius: 4px;
	letter-spacing: 1px;
	font-family: "Lobster";
	font-size: 18px;
	color: #000e38;
	padding: 6px 15px 6px 15px;
	float: right;
}
